*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#printedoFormat{
    display: none;
}

/* linear-gradient(to bottom, hsl(0, 100%, 0%), rgb(20, 78, 105)); */
html{
    scroll-behavior: smooth;
}

nav{
    background:hsl(201, 100%, 1%) ;
    width: 80px;
    height: 100%;
    position: fixed;
}


#myLogo{
    --size: 80px;
    width: var(--size);
    height: var(--size);
    margin-top: 20px;
    border-radius: 50%;
}


#myLogoLabel{
    overflow: hidden;
    display: block;
}

nav:before{
    
    background: linear-gradient(hsl(201, 100%, 4%) 0%,hsl(199, 99%, 21%)50%, hsl(201, 100%, 4%)100% );
}

nav:hover:before{
    content: '';
    position: absolute;
    width: 2px;
    filter:blur(1px);
    opacity:1.0;
    transform: translate(80px, 0px);
    animation: navAnimation 1.0s infinite ease-in;
}

@keyframes navAnimation{
    0%{
        height: 10vh;
    }

    50%{
        height: 35vh;
    }

    100%{
        height: 200vh;
    }
}

section{
    margin-left: 80px;
    height: 100vh;
}

 section#aboutme_section{
    background: linear-gradient(to right, hsl(201, 100%, 0%) 0%,  hsl(199, 99%, 21%) 100%);
    
}
section#contact_section{
    background: linear-gradient(to right, hsl(201, 100%, 0%) 0%,  hsl(278, 88%, 20%) 100%);
    
}
section#skills_section{
    background: linear-gradient(to right, hsl(201, 100%, 0%) 0%,  hsl(172, 94%, 21%) 100%);
    
}
section#projects_section{
    background: linear-gradient(to right, hsl(201, 100%, 0%) 0%,  hsl(49, 98%, 21%) 100%);
} 




nav li a i, .icon_label {
    color: gray;
}
nav li:hover a i, li:hover a label.icon_label {
    color:rgb(18, 107, 129);
    transition: 0.5s;
}
nav ul li a i.active, .icon_label.active{
    color:rgb(18, 107, 129);
}
nav ul {
    margin-left: 28px;
    margin-top: 100px;
}
nav ul li{
    margin: 30px 0px 30px 0px ;
    cursor: pointer;
}

li a .icon_label{
    position: relative;
    width: 85px;
    transform: translateX(-30px);
    font-size:xx-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}





@media screen and (max-width:640px) {
    nav{
        background:hsl(201, 100%, 1%) ;
        width: 100%;
        height: 50px;
        position: fixed;
    }
    nav:hover:before{
        height: 2px;
        transform: translate(0px, 50px);
        animation: navAnimation2 0.8s infinite ease-in-out;
    }
    section{
        margin-left:0px;
        height: 100vh;
        width: 100vw;
    }

    section#aboutme{
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
    
    ul li a .icon_label{
        display: block;
        position: absolute;
    }

    body{
        background: linear-gradient(to bottom, hsl(201, 100%, 0%) 0%,  hsl(199, 99%, 21%) 100%);
    }

    #myLogo{
        --size: 45px;
        width: var(--size);
        height: var(--size);
        margin: 6px 0px 0px 10px;
    }

    nav ul {
        display: flex;
        float: right;
        margin-right:  100px;
        transform: translateY(-180px);
    }



    nav ul li{
        margin-left: 70px;
    }
    

}

@keyframes navAnimation2{
    0%{
        width: 3vw;
    }

    40%{
        width: 35vw;
    }

    80%{
        width: 80vw;
    }
    100%{
        width: 200vw;
    }
}

/* section 1 css */

#myprofileimage_id{
    --size:60%;
    width: var(--size);
    height: var(--size);
    border-radius: 20px;
}
#overlayImage{
    position: absolute;
    --size: 60%;
    width: var(--size);
    height: calc(var(--size) + 30px);
    border-radius: 10px;
    background: linear-gradient(80deg, rgba(0,0,0, .95), rgba(0,0,0, 0.0));
    transform: translateY(-330px);
}


section#aboutme_section div div#profile_container {
    position: absolute;
    margin: 5%;
}


#profileLabel_id{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
}

#myName_id{
    font-family:cursive;
    text-transform: uppercase;
    animation: gradientColor  1s infinite ease-in-out;
    font-weight: bold;
}

@keyframes gradientColor{
    0%{
        background: -webkit-linear-gradient(left,hsl(195, 100%, 80%)0%,hsl(195, 98%, 50%)20%,hsl(195, 98%, 50%)40%,hsl(195, 98%, 50%)60%,hsl(195, 98%, 50%)80%, hsl(195, 98%, 50%)100%);
        -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    20%{
        background: -webkit-linear-gradient(left,hsl(195, 98%, 50%)0%,hsl(195, 100%, 80%)20%,hsl(195, 98%, 50%)40%,hsl(195, 98%, 50%)60%,hsl(195, 98%, 50%)80%, hsl(195, 98%, 50%)100%);
        -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    40%{
        background: -webkit-linear-gradient(left,hsl(195, 98%, 50%)0%,hsl(195, 98%, 50%)20%,hsl(195, 100%, 80%)40%,hsl(195, 98%, 50%)60%,hsl(195, 98%, 50%)80%, hsl(195, 98%, 50%)100%);
        -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    60%{
        background: -webkit-linear-gradient(left,hsl(195, 98%, 50%)0%,hsl(195, 98%, 50%)20%,hsl(195, 98%, 50%)40%,hsl(195, 100%, 80%)60%,hsl(195, 98%, 50%)80%, hsl(195, 98%, 50%)100%);
        -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    80%{
        background: -webkit-linear-gradient(left,hsl(195, 98%, 50%)0%,hsl(195, 98%, 50%)20%,hsl(195, 98%, 50%)40%,hsl(195, 98%, 50%)60%,hsl(195, 100%, 80%)80%, hsl(195, 98%, 50%)100%);
        -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    100%{
        background: -webkit-linear-gradient(left,hsl(195, 98%, 50%)0%,hsl(195, 98%, 50%)20%,hsl(195, 98%, 50%)40%,hsl(195, 98%, 50%)60%,hsl(195, 98%, 50%)80%, hsl(195, 100%, 80%)100%);
        -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}

div#introduction{
    position: absolute;
    width: 50vw;
    height: 50vh;
    margin: 15% 0 0 35%;
}

div#introduction p{
    margin:10%;
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.55vw;
}

div#introduction p span.intro_keywords{
    color:hsl(197, 80%, 44%)
}


/* section 2 skills and technology */

section#skills_section div{
   display: block;
}

section#skills_section div div{
    height: 80vh;
    width: 30vw;
    display: inline-block;
    margin: 10vh 0 0 10vw;
    border-radius: 20px;
}

section#skills_section div div header{
    background: linear-gradient(100deg, hsla(153, 48%, 10%, 0.932), hsla(147, 82%, 36%, 0.281));
    text-align: center;
    padding: 5% 0 5% 0;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}
section#skills_section div div#skills_content header{
    background: linear-gradient(100deg, hsla(152, 49%, 7%, 0.932), hsla(147, 82%, 36%, 0.281));
}

section#skills_section div div#skills_content{
    background: linear-gradient(100deg, hsla(154, 50%, 6%, 0.74), hsla(108, 82%, 26%, 0.185));
}
section#skills_section div div#technological_content{
    background: linear-gradient(100deg, hsla(108, 82%, 26%, 0.185), hsla(108, 82%, 26%, 0.185));
}
section#skills_section div div ul{
    position: absolute;
    margin: 30px 0 0 50px;
}
section#skills_section div div label  {
    color: rgb(50, 189, 15);
    margin-left: 30px;
    text-transform: uppercase;
}
section#skills_section div div .content-icon{
    font-size: 2.60vw;
}


/* section 3 projects */

